{% extends "base.html" %}

{% block title %}
Homepage{% endblock%}

{% block hero%}
{% comment %} <h1>The current time is {{ current_time }}</h1> {% endcomment %}
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <div class="lc-block mb-3">
                <div editable="rich">
                    <h2 class="fw-bold display-4">Explore flexible part-time opportunities.</h2>
                </div>
            </div>
           

            <div class="lc-block mb-3">
                <div editable="rich">
                    <p class="lead">Find your ideal part-time gig, tailored to your schedule, on our job portal today.</p>
                </div>
            </div>

            <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
               
                {% if regtype == 'job_provider' %}
                <a class="btn btn-primary px-4 me-md-2" href="{% url 'addjob'%}" role="button">Add A Job Posting +</a>
    {% endif %}
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <div class="lc-block">
                <img class="rounded-start w-100" src="https://jobpartime.s3.eu-west-1.amazonaws.com/partimeimg.avif" alt="Photo by Diego PH" width="720">
            </div>
        </div>
    </div>
</div>

<h1 class="service">Jobs Available</h1>

<div class="row cardss">
    {% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text"><strong>Description:</strong> {{ post.description }}</p>
                <p class="card-text"><strong>Requirements:</strong> {{ post.requirements }}</p>
                <p class="card-text"><strong>Salary:</strong> €{{ post.salary }}</p>
                <p class="card-text"><strong>Address:</strong> {{ post.address }}</p>
                <p class="card-text"><strong>Contact Information:</strong> {{ post.contact_information }}</p>
                {% if regtype == "job_seeker" %}
                <a class="btn btn-primary px-4 me-md-2" href="{% url 'applyjob' post.id %}" role="button">Apply</a>
            
                {% endif %}
                {% if regtype == "job_provider" %}
                <div class="d-flex justify-content-between">
                    <a class="btn btn-primary px-4 me-md-2" href="{% url 'update_job' post.id%}" role="button">Update</a>
                    <form method="POST" action="{%url 'delete' post.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row cardss">
{% endblock%}